* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
}

header ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

header li {
    flex: 1;
}

header a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

header a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #04AA6D;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://as2.ftcdn.net/v2/jpg/05/87/72/13/1000_F_587721311_nqCeC6qtc259rQJCspK5lLgCl7JOB4fV.jpg");
    height: 450px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-text {
    color: white;
    text-align: center;
}

.hero-button {
    padding: 10px 20px;
    background-color: #f39c12;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.hero-button:hover {
    background-color: #e67e22;
}

.container {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    background: #fff;
    border-radius: 9px;
    box-shadow: 0 0 11px rgba(0, 0, 0, 0.2);
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 0.9em;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer a {
    color: #0f8;
}

.footer a:hover {
    text-decoration: underline;
}

.aligned-text {
    text-align: justify;
    margin: 20px 0;
}
